.navbar-custom {
    background-color: #BC9693;
}

.sleepy-heads {
    margin-top: 30px;
}

.motivation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 100px;
    background-color: #BC9693;
    margin-top: 50px;
}

.context {
    text-align: center;
    padding: 10px 40px;
    margin-top: 50px;
}

.context-flex {
    display: flex;
    justify-content: space-between;
}

.context-flex div {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.app-img {
    width: 300px;
}